body {
	margin-top: 30px;
	background-color: #E8DEC1;
	color: #573E35;

}

.header {
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
	position: relative;
	top: -80px;
	color: #FFFDD0; 
}

.row {
	margin: 30px 0 30px 0;
}

hr {
	width: 250px;
	border-top: 2px solid #999;
}

.photo {
	background-color: #5844;
	padding: 30px 0 50px 0;
}