
body {
	margin-top: 30px;
	color: #573E35;
}

.vl {
	width: 0;
	height: 100%;
	position: absolute;
	border: 3px solid #5844;
	top: 0;
	left: 20px;
}

.vr {
	width: 0;
	height: 100%;
	position: absolute;
	border: 3px solid #5844;
	top: 0;
	right: 20px;
}

.header {
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
	position: relative;
	top: -80px;
	color: #FFFDD0; 
}

.row {
	margin: 30px 0 30px 0;
}

hr {
	width: 250px;
	border-top: 2px solid #999;
}

.photo {
	background-color: #5844;
	padding: 30px 0 50px 0;
}

.glyphicon {
	font-size: 20px;
}

.hrbawah {
	width: 1000px; 
	margin-bottom: 10px
}


@media only screen and (min-width: 401px) and (max-width: 960px) {

	.header {
		font-size: 40px;
	}

	.hrbawah {
		width: 300px;
	}
}

@media only screen and (max-width: 400px) {
	.vl {
		display: none;
	}

	.vr {
		display: none;
	}

	.header {
		font-size: 20px;
	}

	.hrbawah {
		width: 250px;
	}
}