body {
	margin-top: 30px;
	background-color: #E8DEC1;
	color: #573E35;

}

.bordering {
	border left : 3px solid #5844;
	border-style: groove;
	border-left: -30px;
}

.row {
	margin: 30px 0 30px 0;
}

hr {
	width: 250px;
	border-top: 2px solid #999;
}

.photo {
	background-color: #5844;
	padding: 30px 0 50px 0;
}